body {
  width: 70%;
  margin: 0 auto;
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  color: rgb(0, 95, 178);
}

h2 {
  font-size: 16px;
  font-weight: normal;
  background-color: #f1f7fa;
  color: #1A1B1E;
  width: 100%;
  line-height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

span {
  height: 32px;
}

input {
  border-radius: 4px;
  border-color: rgb(217, 215, 213);
  border-style: solid;
  border-width: 0.666667px;
  padding-left: 5px;
}

input:focus-visible {
  border-color: rgb(0, 95, 178);
  box-shadow: none;
  border-width: 0.666667px;
  border-style: solid;
  box-sizing: border-box;
  box-shadow: rgb(0, 95, 178) 0px 0px 3px 0px;
  outline: none;
}

input:focus {
  border-color: rgb(0, 95, 178);
  box-shadow: none;
  border-width: 0.666667px;
  border-style: solid;
  box-sizing: border-box;
  box-shadow: rgb(0, 95, 178) 0px 0px 3px 0px;
}

label {
  padding-left: 15px;
  color: rgb(123, 125, 128)
}

button {
  margin: 0px auto;
  cursor: pointer;
  border-color: rgb(0, 95, 178);
  color: white;
  background-color: rgb(0, 95, 178);
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
}

.main {
  color: #1A1B1E;
  display: block;
  margin: 0px auto;
  min-width: 550px;
  max-width: 80%;
  max-width: 700px;
  padding: 16px;
  border: solid 0.5px;
  border-color: rgb(217, 215, 213);
}

.adoptionDate {
  margin-bottom: 20px;
}

.radio {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: auto;
  justify-content: space-around;
}

#endDate,
#startDate,
#adoptionDate {
  letter-spacing: 1px;
}

#errorMessageContainer {
  display: flex;
  align-items: center;
}

#errorMessage {
  color: rgb(194, 57, 52);
  margin: 10px auto;
}

.outputs {
  display: flex;
  justify-content: space-between;
}

.outputValue {
  color: rgb(0, 95, 178);
  min-width: 40%;
}

.outputText {
  min-width: 60%;
}