body {
  width: 70%;
  margin: 0 auto;
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  color:#005FB2;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  background-color: #F1F7FA;
  color: #1A1B1E;
  width: 100%;
  line-height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

span {
  height: 32px;
}

input {
  border-radius: 4px;
  border-color: #D9D7D5;
  border-style: solid;
  border-width: 0.666667px;
  padding-left: 5px;
}

input:focus-visible {
  border-color:#005FB2;
  box-shadow: none;
  border-width: 0.666667px;
  border-style: solid;
  box-sizing: border-box;
  box-shadow:#005FB2 0px 0px 3px 0px;
  outline: none;
}

input:focus {
  border-color:#005FB2;
  box-shadow: none;
  border-width: 0.666667px;
  border-style: solid;
  box-sizing: border-box;
  box-shadow:#005FB2 0px 0px 3px 0px;
}

label {
  padding-left: 15px;
  color: #7B7D80;
}

button {
  margin: 0px auto;
  cursor: pointer;
  border-color:#005FB2;
  color: white;
  background-color:#005FB2;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
}

a {
  display: contents;
}

img {
  max-height: 125px;
  max-width: 250px;
  margin: 0px auto;
}

.welcome{
  display: block;
  margin: 0px auto;
  min-width: 550px;
  max-width: 732px;
  padding-top: 16px;
}
.main {
  color: #1A1B1E;
  display: block;
  margin: 0px auto;
  min-width: 550px;
  max-width: 700px;
  padding: 16px;
  border: solid 0.5px;
  border-color: #D9D7D5;
}

.adoptionDate {
  margin-bottom: 20px;
}

.radio {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: auto;
  justify-content: space-around;
}

#endDate,
#startDate,
#adoptionDate {
  letter-spacing: 1px;
}

#errorMessageContainer {
  display: flex;
  align-items: center;
}

#errorMessage {
  color:#C23934;
  margin: 10px auto;
}

.outputs {
  display: flex;
  justify-content: space-between;
}

.outputValue {
  color: #005FB2;
  min-width: 40%;
  text-align: center;
}

.outputText {
  min-width: 60%;
}